{% load static %}

<div class="carousel carousel-slider card-panel bg-nav">
  <a class="carousel-item" href="#one!"
    ><img src="{% static 'img/banner/1.png' %}"
  /></a>
  <a class="carousel-item" href="#two!"
    ><img src="{% static 'img/banner/2.jpg' %}"
  /></a>
  <a class="carousel-item" href="#three!"
    ><img src="{% static 'img/banner/3.jpg' %}"
  /></a>
  <a class="carousel-item" href="#four!"
    ><img src="{% static 'img/banner/4.jpg' %}"
  /></a>
  <a class="carousel-item" href="#one!"
    ><img src="{% static 'img/banner/5.png' %}"
  /></a>
  <a class="carousel-item" href="#one!"
    ><img src="{% static 'img/banner/6.jpg' %}"
  /></a>
</div>
