<ul class="pagination">
  <li class="waves-effect active">
    <a href="{% url 'booking:page' dataType=dataType page=1 %}">1</a>
  </li>
  <li class="waves-effect">
    <a href="{% url 'booking:page' dataType=dataType page=2 %}">2</a>
  </li>
  <li class="waves-effect">
    <a href="{% url 'booking:page' dataType=dataType page=3 %}">3</a>
  </li>
  <li class="waves-effect">
    <a href="{% url 'booking:page' dataType=dataType page=4 %}">4</a>
  </li>
  <li class="waves-effect">
    <a href="{% url 'booking:page' dataType=dataType page=5 %}">5</a>
  </li>
</ul>
