{% extends 'dashboard/dashboard_home.html' %} {% block dashboardcontent %}
<div class="fluid-container">
  <div class="row">
    {% if reviews|length > 0 %}
    <h4 class="text-secondary">
      Binge Feed
    </h4>
    {% else %}
    <h4 class="text-secondary">
      Feed Not Available
    </h4>
    {% endif %}
  </div>
  <div class="col s12">
    <div class="row">
      {% for review in reviews %}
      <div class="card-panel text-secondary bg-nav">
        <div class="row">
          <h5 class="col s12 text-secondary mb-2 hover-title">
            <a
              href="{% url 'dashboard:reviewdetail' reviewId=review.id reviewTitle=review.review_title %}"
              class="bg-nav text-secondary"
              >{{review.review_title}}</a
            >
          </h5>
          <div class="fluid-container">
            <div class="col s12">
              {{review.movie_name}}
            </div>
            <div class="col s12">
              Binge Rating:
              <span class="chip">{{review.movie_rating}} / 10</span>
            </div>
          </div>
        </div>
        <div class="row mb-0">
          <div class="col s6 text-secondary">
            Review By: {{review.user | title}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large">
    <i class="large material-icons bg-primary">dashboard</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating bg-nav" href="{% url 'dashboard:managereview' %}"
        ><i class="material-icons text-secondary">edit</i></a
      >
    </li>
    <li>
      <a class="btn-floating bg-nav modal-trigger" href="#add-review"
        ><i class="material-icons text-secondary">add</i></a
      >
    </li>
  </ul>
</div>
<div id="add-review" class="modal">
  <div class="modal-content bg-nav">
    <h5>Add your Binge Review</h5>
    <div class="row mb-0">
      <form
        class="col s12"
        action="{% url 'dashboard:postreview' %}"
        method="POST"
      >
        {% csrf_token %}
        <div class="row mb-0">
          <div class="input-field col l6 m6 s12">
            <input id="review-title" type="text" name="reviewTitle" required />
            <label for="review-title">Movie Review Title</label>
          </div>
          <div class="input-field col l6 m6 s12">
            <input
              id="review-slug"
              type="text"
              name="reviewSlug"
              required
              disabled
            />
            <span class="helper-text">Movie Review Slug</span>
          </div>
        </div>
        <div class="row mb-0">
          <div class="input-field col l6 m6 s12">
            <input
              id="auto-movie-name"
              type="text"
              class="autocomplete"
              name="movieName"
              required
            />
            <label for="auto-movie-name">Movie Name</label>
          </div>
          <div class="input-field col l6 m6 s12">
            <p class="range-field">
              <label
                for="movie-rating"
                style="margin-bottom: 0.6rem; display: block;"
                >Movie Rating</label
              >
              <input
                type="range"
                id="movie-rating"
                min="0"
                max="10"
                name="movieRating"
                required
              />
            </p>
          </div>
        </div>
        <div class="row mb-0">
          <input type="hidden" name="movieId" id="auto-movie-id" />
          <div class="input-field col s12">
            <textarea
              id="textarea1"
              class="materialize-textarea"
              placeholder="Write your review here ..."
              maxlength="1000"
              name="movieReview"
              required
            ></textarea>
            <label for="textarea1">Review</label>
          </div>
        </div>
        <div class="row mb-0">
          <div class="input-field col l6 m6 s12">
            <div class="switch">
              <label>
                Draft
                <input type="checkbox" id="review-status-switch" />
                <span class="lever"></span>
                Publish
              </label>
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="chips chips-placeholder" id="review-chips"></div>
            <input type="hidden" name="reviewHashTags" id="review-hashtags" />
            <input
              type="hidden"
              name="reviewPublicStatus"
              id="review-public-status"
              value="false"
            />
          </div>
        </div>
        <div class="modal-footer bg-nav">
          <button class="modal-close bg-secondary btn-flat">Close</button>
          <input type="submit" class="bg-primary btn" value="Save" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
