{% extends 'base_layout.html' %} {% block content %} {% load static %}

<div class="row mt-2">
  <div class="col l2 m2 s12 center">
    <ul class="collection dash">
      <li class="collection-item bg-nav dashside">
        <a href="{% url 'dashboard:feed' %}" class="bg-nav text-secondary">
          Binge Feed
        </a>
      </li>
      <li class="collection-item bg-nav dashside">
        <a href="{% url 'dashboard:profile' %}" class="bg-nav text-secondary">
          My Profile
        </a>
      </li>
      <li class="collection-item bg-nav dashside">
        <a href="{% url 'dashboard:bookings' %}" class="bg-nav text-secondary">
          My Bookings
        </a>
      </li>
      <li class="collection-item bg-nav dashside">
        <a href="{% url 'dashboard:settings' %}" class="bg-nav text-secondary">
          Settings
        </a>
      </li>
    </ul>
  </div>
  <div class="col l10 m10 s12">
    {% block dashboardcontent %} {% endblock %} {% if isHome %}
    <div class="card-panel bg-nav text-secondary center">
      <h4 class="text-primary">
        Welcome to Dashboard !!
      </h4>
      <h6 class="text-secondary">
        Choose the required settings from the menu
      </h6>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
