{% extends 'base_layout.html' %} {% block content %} {% load static %}
<div class="poster-backdrop" style="background-image: url({{backdrop}});"></div>
<div class="container">
  <div class="row mt-2">
    <a
      href="{% url 'booking:page' dataType=dataType page=page %}"
      class="btn bg-primary left"
      >Back To Explore</a
    >
  </div>
  <div class="row">
    <div class="col s12">
      <h4 class="text-secondary">
        {{movie.title}}
      </h4>
      <div class="card-content mb-1 text-secondary">
        Runtime: {{movie.runtime}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s2">
      <select name="seatSelect" id="seat-selecter" required>
        <option disabled selected value> Select Seat </option>
        {% for s in seatCount %}
        <option value="{{s}}">{{s}}</option>
        {% endfor %}
      </select>
      <label>Seats Required</label>
    </div>
    <div class="input-field col s2">
      <label>Date</label>
      <input
        type="text"
        name="dateSelecter"
        id="date-selecter"
        class="datepicker"
      />
    </div>
    <div class="col s6 right">
      <form action="{% url 'booking:seats' %}" method="POST">
        {% csrf_token %}
        <div style="display: none;">
          {{form}}
        </div>
        <input
          type="submit"
          class="btn bg-primary right"
          value="Continue Booking"
          id="show-continue-booking-btn"
        />
      </form>
      {% if isFormError %} {% for message in errorMessages %}
      <div class="errorlist">
        <li>{{message}}</li>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
  <div class="row">
    {% for screen in screens %}
    <div class="row">
      <div class="col s12 m6 l6">
        <h5 class="text-secondary">
          {{screen.screen_name}}
        </h5>
        <div class="text-secondary">
          {{screen.screen_location}}
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="row" id="{{screen.screen_name}}/{{screen.screen_location}}">
          {% for show in shows %}
          <div class="btn bg-nav text-secondary show-time col s4 m-1">
            {{show.show_time}}
          </div>
          {% endfor%}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
