{% extends 'base_layout.html' %} {% block content %} {% load static %}
<div>
  {% if searchModule %}
  <div class="container">
    {%include "./booking_search_box.html" %}
  </div>
  {% else %}
  <div class="container center">
    <div class="row mt-2">
      {%include "./booking_controls.html" %}
    </div>
  </div>
  <div class="container center">
    <div class="row mt-2 mb-2">
      {%include "../components/pagination.html" %}
    </div>
  </div>
  {% endif %}
</div>
<div class="container">
  <div class="row mt-2 center">
    {% for movie in movieList %}
    <div class="col l6 s12">
      <div class="row" id="{{movie.id}}">
        <div class="col l6 m6 s12">
          <div class="card-image">
            <a href="{% url 'booking:detail' id=movie.id %}">
              {% if movie.poster_path is None %}
              <img
                src="{% static 'img/film-placeholder.png'%}"
                class="poster-img"
                alt="Movie Logo"
              />
              {% else %}
              <img
                src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{movie.poster_path}}"
                class="poster-img"
                alt="Movie Logo"
              />
              {% endif %}
            </a>
          </div>
        </div>
        <div class="col l6 m6 s12 bg-nav">
          <div class="poster-content">
            <h5 class="card-title text-secondary hover-title">
              <a
                href="{% url 'booking:detail' id=movie.id %}"
                class="text-secondary"
                >{{movie.title}}</a
              >
            </h5>
            <p class="card-content">
              <span class="chip">
                {{movie.release_date}}
              </span>
              <span class="chip">
                {{movie.vote_average}}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{%include "./booking_floater.html" %} {% endblock %}
