{% extends 'base_layout.html' %} {% block content %} {% load static %}
<div class="container">
  <div class="row mt-2">
    <div class="col s12 center">
      <div class="row mt-1 mb-1">
        <h3 class="text-primary">
          Booking Confirmed
        </h3>
        <h4 class="text-secondary">
          Secret Key: {{secret_key}}
        </h4>
      </div>
      <h6 class="text-secondary mb-1">
        Show Secret Key at the Screen entrance and View Booking Details Below
      </h6>
      <div class="card-panel bg-nav">
        <div class="row mt-1 mb-1">
          <div class="col s12">
            <div class="card-image">
              {% if booking_meta.movie_poster is None %}
              <img
                src="{% static 'img/film-placeholder.png'%}"
                class="poster-img"
                alt="Movie Logo"
              />
              {% else %}
              <img
                src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{booking_meta.movie_poster}}"
                class="poster-img"
                alt="Movie Logo"
              />
              {% endif %}
            </div>
          </div>
          <div class="col s12 mt-1">
            <table class="responsive-table centered">
              <thead>
                <tr>
                  <th>Movie Name</th>
                  <th>Screen Name</th>
                  <th>Location</th>
                  <th>Date</th>
                  <th>Show Time</th>
                  <th>Total Seats</th>
                  <th>Seat Numbers</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{booking_meta.movie_name}}</td>
                  <td>{{booking_meta.screen_name}}</td>
                  <td>{{booking_meta.screen_location}}</td>
                  <td>{{booking_meta.show_date}}</td>
                  <td>{{booking_meta.show_time}}</td>
                  <td>{{booking_meta.seats_count}}</td>
                  <td>{{booking_meta.seats}}</td>
                </tr>
              </tbody>
            </table>
            <div class="row mt-2 center">
              <a href="{% url 'booking:home' %}" class="btn bg-primary"
                >Go To Home</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
