{% extends 'base_layout.html' %} {% block content %}

<h1>Accounts</h1>
<i class="material-icons">add</i>

<!-- Modal Trigger -->
<a class="waves-effect waves-light btn bg-primary modal-trigger" href="#modal1"
  >Modal</a
>
<p class="text-secondary">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati soluta
  molestiae magni et error delectus beatae explicabo esse sed quod,
  necessitatibus, pariatur consequuntur laudantium maiores reprehenderit.
  Voluptate quae repudiandae facilis?
</p>
<button
  class="waves-effect waves-light btn bg-primary modal-trigger"
  href="#modal1"
>
  Modal
</button>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

{% endblock %}
