* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0052cc;
  --primary-color-light: #9fb7e0;
  --secondary-color: #172b4d;
  --danger-color: #ff5630;
  --warning-color: #ffab00;
  --success-color: #36b37e;
  --info-color: #00b8d9;
  --font-color: #172b4d;
  --bg-color: #ffffff;
  --link-text-color: #ffffff;
  --hint-color: #9e9e9e;
  --shadow1: rgba(0, 0, 0, 0.14);
  --shadow2: rgba(0, 0, 0, 0.12);
  --shadow3: rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] {
  --primary-color: #e50914;
  --primary-color-light: #e09f9f;
  --secondary-color: #ffffff;
  --danger-color: #ff5630;
  --warning-color: #ffab00;
  --success-color: #36b37e;
  --info-color: #00b8d9;
  --font-color: #ffffff;
  --bg-color: #000000;
  --link-text-color: #ffffff;
  --hint-color: #9e9e9e;
  --shadow1: rgba(255, 255, 255, 0.14);
  --shadow2: rgba(255, 255, 255, 0.12);
  --shadow3: rgba(255, 255, 255, 0.2);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  color: var(--primary-color);
  user-select: none;
}

h3 {
  margin: 0.946667rem 0 1.168rem 0 !important;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a:visited,
a:hover,
a:focus {
  text-decoration: none;
  color: var(--link-text-color);
}

a.btn {
  color: var(--link-text-color);
  text-decoration: none;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
  box-shadow: 0 2px 2px 0 var(--shadow1), 0 3px 1px -2px var(--shadow2),
    0 1px 5px 0 var(--shadow3) !important;
}

tr {
  border-bottom: 1px solid var(--shadow1) !important;
}

nav ul a {
  color: var(--secondary-color) !important;
}

nav ul a.btn {
  color: var(--link-text-color) !important;
}

.dropdown-content li > form {
  font-size: 16px;
  display: block;
  line-height: 22px;
  padding: 14px 6px;
}

.sidenav li > form {
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 8px 96px;
}

.sidenav li > div {
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0px 76px;
}

form > label {
  font-size: 1rem;
  color: var(--secondary-color);
}

.helptext {
  color: var(--hint-color);
  font-size: 0.7rem;
  display: block;
  margin-bottom: 0.5rem;
}

.errorlist li {
  padding: 10px;
  list-style-type: none;
  border: 1px solid var(--danger-color);
  margin: 10px 0;
  color: var(--danger-color);
}

.errorlist {
  padding: 0;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-danger {
  color: var(--danger-color) !important;
}

.text-warning {
  color: var(--warning-color) !important;
}

.text-success {
  color: var(--success-color) !important;
}

.text-info {
  color: var(--info-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-primary-light {
  background-color: var(--primary-color-light) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-danger {
  background-color: var(--danger-color) !important;
}

.bg-warning {
  background-color: var(--warning-color) !important;
}

.bg-success {
  background-color: var(--success-color) !important;
}

.bg-info {
  background-color: var(--info-color) !important;
}

.bg-nav {
  background-color: var(--bg-color) !important;
}

.btn:hover,
.btn-small:hover,
.btn-large:hover {
  background-color: var(--bg-color) !important;
  color: var(--font-color) !important;
  border: 1px solid var(--primary-color) !important;
}

.switch label input[type='checkbox'] + .lever {
  background-color: var(--primary-color-light) !important;
}

.switch label input[type='checkbox']:checked + .lever {
  background-color: var(--primary-color-light) !important;
}

.lever::after {
  background-color: var(--primary-color) !important;
}

.tabs .tab a {
  color: var(--secondary-color) !important;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  color: var(--secondary-color) !important;
}

.tabs .tab a:focus.active {
  background-color: var(--primary-color-light) !important;
}

.tabs .indicator {
  background-color: var(--primary-color) !important;
}

input {
  color: var(--secondary-color);
}

input:focus + label {
  color: var(--secondary-color) !important;
}

input:focus {
  border-bottom: 2px solid var(--primary-color) !important;
  box-shadow: 0 1px 0 0 var(--shadow2) !important;
}

.pagination li.active {
  background-color: var(--primary-color) !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.poster-content {
  width: 200px;
  height: 300px;
}

.badger {
  border-radius: 6px;
  margin: 0 0.5rem;
  padding: 0.5rem;
  color: #ffffff;
}

.poster-img {
  transition: transform 0.2s;
  cursor: pointer;
  width: 200px;
  height: 300px;
}

.poster-img:hover {
  transform: scale(1.2);
}

.poster-backdrop {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 80%;
}
